@model Infrastructure.Models.Traffic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Traffic</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IMO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MMSI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MMSI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossTonnage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossTonnage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeathWeightTonnage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeathWeightTonnage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfBuild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfBuild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Builder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Builder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassSociety)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassSociety)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormerNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormerNames)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
