@model TrafficMVC.Models.OpenErpAuthenticationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Authenticate</title>
    </head>
    <body>
        <div class="container">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Url, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Url)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Database, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Database)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Username)
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.Password)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Connect" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
         
        </div>
    </body>
</html>