<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Marine Traffic Database Application</title>
    @Styles.Render("~/bundles/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Scripts.Render("~/bundles/jquery")
    @*@Styles.Render("~/bundles/Content/helpers")*@
    @Scripts.Render("~/bundles/Scripts/helpers")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
                @Html.ActionLink("Application name", "Index", "Traffic", null, new { @class = "navbar-brand" })
            </div>
            
            @*<ul class="nav navbar-nav navbar-right">
                <li><a href="/Home/Disconnect">Disconnect</a></li>
            </ul>*@
        </div>
        
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Marine Traffic Database Application</p>
        </footer>
    </div>

</body>
</html>
